body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  display: block;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  position: relative;
}

.logo {
  font-weight: 500;
  font-size: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 600;
}

.header .main-menu {
  display:  flex;
  align-items: center;
  justify-content: space-between;
}


.header ul.main-menu li {
  margin: 0 2px;
  position: relative;
}

.header ul.mobile-menu li a,
.header ul.main-menu li a {
  padding: 5px 10px;
}

.header ul.main-menu li a,
.header ul.mobile-menu li a {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
}

.header ul li a:hover,
.header ul li a:active {
  background: #c4dec4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #777;
  transition: ease-in 500ms all;
}

.main-menu .recalls {
  box-shadow: #e8e2e2 0px 0px 5px 5px;
  padding-left: 0;
  position: absolute;
  left: 0;
  right: 0;
  background: white;
  z-index: 3;
}

.header ul.main-menu li ul.recalls  li {
  width: 100%;
  margin: 0;
}


.burger-housing {
  padding: 7px 21px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.burger-housing:hover {
  background: #c4dec4;
}

.burger-container {
  width: 28px;
  height: 21px;
  position: relative;
}

.burger-line,
.burger-line-1,
.burger-line-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 5px;
  background: #777;
}

.burger-line-1 {
  transform: translateY(8px);
}

.burger-line-2 {
  transform: translateY(16px);
}

.header .mobile-menu {
  /*border: 1px solid #777;*/
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin-top: 2.5rem;
  background: #ffff;
  z-index: 2;
  right: 20px;
  top: 37px;
  width: 200px;
  box-shadow: #e8e2e2 0px 0px 5px 5px;
  animation-name: appear, growDown;
  animation-duration: 4s, 4s;
  animation-delay: 0s;
  animation-timing-function: linear, ease;
}

@keyframes appear {
  0% {
    z-index: -1;
    opacity: 0;
  }
  100% {
    z-index: 2;
    opacity: 1;
  }
}

@keyframes growDown{
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}


.mobile-menu .recalls {
  box-shadow: inset #e8e2e2 0px 0px 5px 2px;
  padding-left: 0;
}

.search-filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
}

/* Buttons */
.btn {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 5px;
  width: 100%;
  background: #c4dec4;
}

.search-filter-heading {
  padding: 10px;
  font-weight: 600;
}

.filter-param {
  margin: 5px 0;
}

/* Form fields */
input {
  display: block;
  outline: none;
  line-height: 1.3;
  padding: 8px 10px;
  border: 1px solid #aaa;
  background-color: white;
  color: #000;
  width: 100%;
  border-radius: 5px;
}

input[type='checkbox'] {
  width: auto;
}

.form {
  margin-bottom: 10px;
  margin-top: 5px;
}

.form form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cause {
  display: flex;
  justify-content: space-between;
  border: 1px solid #aaa;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.options-group {
  display: flex;
  /*justify-content: space-between;*/
  width: 100%;
  padding: 1px 0;
}


.options-group div:nth-of-type(2){
  padding: 0 10px;
}

/* Recall List */
.recall-list {
  padding: 15px 5px;
  margin-bottom: 5px;
  background: #c4dec426;
}

.recall-list span {
  font-weight: 600;
}

.recall-title {
  font-weight: 600;
  text-align: left;
  font-size: 1.2rem;
  padding: 5px 0;
}

.company {
  padding: 5px 0;
  font-weight: 400;
  text-align: left;
  font-size: 1rem;
}

.recall-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.recall-details {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding: 5px 0;
}

.recall-states, .recall-cause {
  text-align: left;
}

.not-found {
  padding: 10px;
}

.button-controls {
  display: flex;
  justify-self: stretch;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.button-controls img, .prev_next img {
  width: 25px;
}

.btn-controls {
  color: rgba(0, 255, 255, 100);
  outline: none;
  border: 1px solid black;
  background: rgba(255, 255, 255, 1.0);
  /*padding: 1rem 1rem;*/
  width: auto;
  margin: 0 0.2rem;
  border-radius: 50%;
  font-size: 0.7rem;
}

.btn-controls:disabled {
  opacity: 0.2;
}

.current {
  margin-right: 0.2rem;
}

.total_pages {
  margin-left: 0.2rem;
}

.pages {
  padding: 0.2rem;
  color: rgba(22, 22, 68, 1.0);
}
.pages .current {
  font-weight: 700;
}



@media (max-width: 760px) {
  body {
    font-size: 0.9rem;
  }

  .header .main-menu {
    display: none;
  }

  .header .mobile-menu {
    display: flex;
  }

  .burger-housing {
    display: block;
  }
  .button-controls img, .prev_next img {
    width: 15px;
  }
}